span.youpzt-submit-subscribe{margin-left:15px!important;}
.youpzt-text{width:230px;}
.youpzt-close{color:#666;cursor:pointer;}
.text-ruo{color:#888;}

.fb{font-weight:bold;}
.f12{font-size:12px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}

.fl{float:left;}
.fr{float:right;}
.oh{overflow:hidden;}

/*color*/
i{font-style:normal;}
.color-primary{color:#337ab7;}
.color-success{color:#5cb85c;}
.color-info{color:#5bc0de;}
.color-warning{color:#f0ad4e;}
.color-red{color:red;padding:0 3px;}